<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turkisht</title>
    <link rel="stylesheet" href="/dist/search.css" />
    <script defer src="js/script.js"></script>
  </head>
  <body>

    <header>
      <div class="header__container">
        <a href="" class="header__logo">
          <img src="img/Nolabel.svg" alt="" />
        </a>
        <div class="header__navigation">
          <nav class="header__menu menu">
            <ul class="menu__body">
              <li class="menu__item"><a href="/" class="menu__link">home</a></li>
              <li class="menu__item">
                <a href="" class="menu__link">About us</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Buying</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Renting</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">Contact us</a>
              </li>
            </ul>
          </nav>
          <div class="header__buttons">
            <div class="language">
              <a href="#" class="language_link">RU</a>
              <a href="#" class="language_link">EN</a>
            </div>
            <button class="consult header__btn">Бесплатная консультация</button>
          </div>
          <div class="menu-icon"><span></span><span></span><span></span></div>
        </div>
      </div>
    </header>
    <% let i = 0; i = apartments.length%>
    <p class="par">Найдено <%= i %> результатов по вашему запросу</p>      
    <div class="buy_arend">
      <button class="buy">
        <a href="/second" class="buy_a">Купить</a>
      </button>
      <button class="arend" >
        <a href="/second2" class="arend_a">Снять</a>
      </button>
      <div class="filtr_search">
        <div class="type_of_object">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Тип объекта</a>
          <div class="filter_link">
            <a href="" class="filter_a">Квартира<br /></a>
            <a href="" class="filter_a">Вилла<br /></a>
            <a href="" class="filter_a">Комм. помещение<br /></a>
          </div>
        </div>
        <div class="type_of_object">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Тип объекта</a>
          <div class="filter_link">
            <a href="" class="filter_a">Новостройка<br /></a>
            <a href="" class="filter_a">Вторичка<br /></a>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Год постройки</a>
          <div class="years">
            <div class="year"><span>от 2000</span></div>
            <div class="year"><span>до 2023</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Цена</a>
          <div class="years">
            <div class="year1"><span>от 2 000 000</span></div>
            <div class="year1"><span>до 10 000 000</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Кол-во комнат</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Возраст здания</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Застройщик</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Кол-во кв.м</a>
          <div class="years">
            <div class="year3"><span>от 10 кв.м</span></div>
            <div class="year3-second"><span>до 1000 кв.м</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Мебелированность</a>
          <div class="filter_link">
            <div class="filter_a"><span>Частично</span></div>
            <div class="filter_a"><span>Полностью</span></div>
            <div class="filter_a"><span>Не мебелирована</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Инфраструктура</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Этажность дома</a>
          <div class="years">
            <div class="year4"><span>от 2</span></div>
            <div class="year4-second"><span>до 10</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Номер квартиры</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Видовая ли</a>
          <div class="filter_link">
            <div class="filter_a"><span>Видовая</span></div>
            <div class="filter_a"><span>Не видовая</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Кол-во санузлов</a>
          <div class="years">
            <div class="year2"><span>Выберите</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">Жк или Одиночная</a>
          <div class="filter_link">
            <div class="filter_a"><span>Жк</span></div>
            <div class="filter_a"><span>Одиночная</span></div>
          </div>
        </div>
        <div class="year_of_build">
          <img src="img/Vector31.png" alt="" />
          <a href="" class="main_a">План объектра</a>
          <div class="filter_link">
            <div class="filter_a"><span>Да</span></div>
            <div class="filter_a"><span>Нет</span></div>
          </div>
        </div>
        <div class="button_cont">
          <button class="done_filter">
            <a href=""> Применить фильтры </a>
          </button>
        </div>
      </div>
    </div>
    <div class="cintainer">
      <div class="kvadrati">
        <% for (let i = 0; i < apartments.length; i++) { %>
        <div class="blocks1">
          <img class="fotochka"
            src="<%= apartments[i].image_url %>"
            alt=""
            style="width: 353px; height: 173px"
          />
          <div class="prices">
            <p><%= apartments[i].price.toLocaleString() %> ₽</p>
          </div>
          <p class="block_text">
            <%= apartments[i].name %> районе
          </p>
          <p class="main_text">
            <%= apartments[i].description %>
          </p>
          <div class="bottom_text1">
            <p
              style="
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                /* identical to box height */

                color: #828282;
              "
            >
              Комнат
            </p>
            <p
              style="
                font-family: 'Montserrat';
                font-size: 13px;
                color: #383737;
                font-weight: 500;
                line-height: 16px;
              "
            >
              <%= apartments[i].bedrooms %>
            </p>
          </div>
          <div class="bottom_text1">
            <p
              style="
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                /* identical to box height */

                color: #828282;
              "
            >
              Построен
            </p>
            <p
              style="
                font-family: 'Montserrat';
                font-size: 13px;
                color: #383737;
                font-weight: 500;
                line-height: 16px;
              "
            >
              <%= apartments[i].year %>
            </p>
          </div>
          <div class="bottom_text1">
            <p
              style="
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                /* identical to box height */

                color: #828282;
              "
            >
              Площадь
            </p>
            <p
              style="
                font-family: 'Montserrat';
                font-size: 13px;
                color: #383737;
                font-weight: 500;
                line-height: 16px;
              "
            >
              <%= apartments[i].size %> кв.м.
            </p>
          </div>
        </div>
        <% } %>
  </body>
</html>
